* {
  text-align: center;
  color: white;
}

body {
  background-color: black !important;
}

.btn-xlarge {
    padding: 28px 38px;
    font-size: 60px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
