* {
  text-align: center !important;
  font-size: 1.1em;
  color: #000;
}

body {
  background-image: url('https://i.ibb.co/QcDDQMt/chevron.png') !important;
}

ul {
  list-style-type: none;
}

#titleHeader {
  margin: 60px 0 60px 0;
}

#subText {
  margin-bottom: 60px;
}

.btnRow {
  margin: 15px;
}

.btn {
  width: 250px !important;
  height: 70px !important;
  margin: 30px !important;
}
