* {
  text-align: center;
  color: white;
}

body {
  background-color: black !important;
}

.btn-xlarge {
    padding: 48px 68px;
    font-size: 200px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
