/*Base Styles*/
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "Arial", sans-serif;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	color: #000;
}

#section1, #section2, #section3 {
	position: relative;
	overflow: hidden;
	background-color: #999999;
	border: solid #000;
	border-width: 3px;
	padding: 30px;
	margin: 20px;
	height: 200px;
}

h2 {
	position: absolute;
	border-collapse: collapse;
	border: solid #000;
	border-width: 0 0 3px 3px;
	font-size: 20px;
	padding: 5px;
	width: 7em;
	height: 32px;
	right: 0px;
	top: -17px;
}

#paragraph1, #paragraph2, #paragraph3 {
	position: relative;
	display: inline-grid;
	text-align: left;
	color: #000;
	font-size: 13px;
}

#chicken {
	background-color: #D59898;
}
#beef {
	background-color: #C14543;
	color: #FFF
}
#sushi {
	background-color: #E5D198;
}

/*Simple Framework*/
.row {
	width: 100%;
}

/*Large Devices*/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
	#section1 {
		margin-left: 40px;
	}
	#section3 {
		margin-right: 40px;
	}
}
/*Medium Devices*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
	#section1 {
		margin-left: 40px;
	}
	#section2 {
		margin-right: 40px;
	}
	#section3 {
		margin: 20px 40px 20px 40px;
	}
}
/*Small Devices*/
@media (max-width: 768px) {
	.col-sm-12 {
		float: left;
		width: 100%
	}
	#section1, #section2, #section3 {
		margin: 10px 40px 10px 40px;
	}
}
