/*Base Styles*/
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

h1 {
	padding: 40px;
	margin: 0px 0px 15px 0px;
	font-size: 60px;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	color: #000;
}

#section1, #section2, #section3 {
	position: relative;
	overflow: auto;
	background-color: #999999;
	border: solid #000;
	border-width: 3px;
	padding: 30px;
	margin: 10px;
	height: 200px;
}

h2 {
	position: absolute;
	border-collapse: collapse;
	border: solid #000;
	border-width: 0 0 3px 3px;
	font-size: 20px;
	padding: 5px;
	width: 7em;
	height: 40px;
	right: 0px;
	top: -17px;
}

#paragraph1, #paragraph2, #paragraph3 {
	position: relative;
	color: #000;
	padding: 10px;
	font-size: 13px;
	font-family: "Futura", sans-serif;
	display: inline-grid;
}

#chicken {
	background-color: #D59898;
}
#beef {
	background-color: #C14543;
}
#sushi {
	background-color: #E5D198;
}

/*Simple Framework*/
.row {
	width: 100%;
}

/*Large Devices*/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}
/*Medium Devices*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
}
/*Small Devices*/
@media (max-width: 768px) {
	.col-sm-12 {
		float: left;
		width: 100%
	}
}


