* {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  text-align: start;
  color: white;
}

body {
  background-image: url('https://img.freepik.com/free-vector/retro-styled-pattern-background_1048-6593.jpg?size=338&ext=jpg');
  position: relative;
}

ul {
  width: auto;
  margin: auto;
  list-style-type: none;
}

h2 {
  font-size: 1.2em;
}

.hidden-image:link {
font-size: 1.5em;
text-decoration: none;
color: #FFF;
}

.hidden-image:visited {
text-decoration: none;
color: #FFF;
}

.hidden-image:hover {
text-decoration: none;
color: #FFF;
}

.hidden-image:active {
text-decoration: none;
color: #FFF;
}

.example-image {
  width: 25%;
  height: auto;
}

.example-image-small {
  width: 50%;
  height: auto;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 30px;
    border-radius: 20px;
    border-width: 3px;
    background: transparent;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.filler-space {
  padding: 30px;
}
