#title-header {
color: #000;
text-decoration: none;
}

#title-header:hover {
color: #000;
text-decoration: none;
}

#title-header:active {
color: #000;
text-decoration: none;
}

#title-header:visited {
color: #000;
text-decoration: none;
}
