* {
  font-family: 'Oswald', sans-serif;
  color: white;
}

body {
  background-image: url('https://wallpaperplay.com/walls/full/d/3/6/13585.jpg');
}

#title-header {
text-decoration: none;
color: #FFF;
}

#title-header:hover {
text-decoration: none;
color: #FFF;
}

#title-header:active {
text-decoration: none;
color: #FFF;
}

#title-header:visited {
text-decoration: none;
color: #FFF;
}

.example-image {
  width: 50%;
  height: auto;
}
