* {
    box-sizing: border-box;
}
body {
    font-family: "Arial", sans-serif;
    text-align: center;
}

header {
    position: sticky;
    width: 100%;
    border: solid #000;
}

h1 {
    position: relative;
}

h2{
    position: absolute;
    text-align: right;
    color: #282828;
}
img {
    position: absolute;
}

/*Responsive Framework*/

/*Extra Large Devices*/
@media (min-width: 1200px) {
    header {
        height: 300px;
        border-width: 20px;
    }

    h1 {
        top: -300px;
        left: 20%;
        width: 230px;
        height: 180px;
        font-weight: 900;
        font-size: 120px;
    }

    h2 {
        top: 60px;
        left: 62%;
        width: 200px;
        height: 180px;
        font-weight: 800;
        font-size: 40px;
    }

    img {
        top: 120px;
        left: 50%;
        height: auto;
        width: 12%;
    }
}

/*Large Devices*/
@media (min-width: 992px) and (max-width: 1199px) {
    header {
        height: 250px;
        border-width: 15px;
    }

    h1 {
        top: -250px;
        left: 15%;
        width: 200px;
        height: 160px;
        font-weight: 900;
        font-size: 100px;
    }

    h2 {
        top: 40px;
        left: 55%;
        width: 180px;
        height: 140px;
        font-weight: 700;
        font-size: 32px;
    }

    img {
        top: 80px;
        left: 50%;
        height: auto;
        width: 15%;

    }
}

/*Medium Devices*/
@media (min-width: 768px) and (max-width: 991px) {
    header {
        height: 200px;
        border-width: 10px;
    }

    h1 {
        top: -200px;
        left: 15%;
        width: 160px;
        height: 130px;
        font-weight: 900;
        font-size: 80px;
    }

    h2 {
        top: 30px;
        left: 60%;
        width: 140px;
        height: 110px;
        font-weight: 700;
        font-size: 30px;
    }

    img {
        left: 50%;
        top: 60px;
        height: 150px;
        width: 150px
    }
}

/*Small Devices*/
@media (min-width: 576px) and (max-width: 767px) {
    header {
        height: 150px;
        border-width: 8px
    }

    h1 {
        top: -150px;
        left: 20%;
        width: 110px;
        height: 100px;
        font-weight: 900;
        font-size: 60px;
    }

    h2 {
        top: 20px;
        left: 65%;
        width: 110px;
        font-weight: 600;
        font-size: 24px
    }

    img {
        left: 52%;
        top: 45px;
        height: 110px;
        width: 110px;
    }
}

/*Extra Small Devices*/
@media (max-width: 575px) {
    header {
        height: 120px;
        border-width: 5px;
    }

    h1 {
        top: -120px;
        margin-left: auto;
        margin-right: auto;
        right: 100px;
        width: 90px;
        height: 80px;
        font-weight: 900;
        font-size: 50px;
    }

    h2 {
        top: 15px;
        left: 65%;
        width: 90px;
        font-size: 15px;
    }

    img {
        left: 55%;
        top: 35px;
        height: 90px;
        width: 90px; 
    }
}