* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

/*Navbar*/
#header-nav {
    width: 100%;
}

div.navbar-header {
    padding-bottom: 0;
}

#logo {
    background: url('../images/piano.png') no-repeat;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 0;
}

.navbar-brand {
    margin: 0;
    padding-top: 15px;
    height: auto;
    width: auto;
    text-align: center;
}
.navbar-brand #header1 {
    text-transform: uppercase;
    font-family: bebas-neue, sans-serif;
    text-shadow: 1px 1px 1px #222;
    line-height: .75;
    margin: 0;
    padding: 0;
}
.navbar-brand #header2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

 a:hover,.navbar-brand a:focus {
    color: #FDECEF;
    text-decoration: none;
}

#header1 {
    color: #FDECEF;
}

/*Menu Buttons*/
.navbar-toggler-icon {
    color: #FFF;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #F2F3F4;
    text-align: center;
}

.nav-link {
    text-transform: uppercase;
}

.dropdown-menu {
    text-transform: uppercase;
    border-radius: 8px;
}

/*Jumbotron*/
.container .jumbotron {
    border: 2px solid #635B7B;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #343A40;
    color: #FFF;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

#jumbotronTitle {
    font-family: bebas-neue, sans-serif;
}

/*Tiles*/
#new-tile, #existing-tile {
    height: 250px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #635B7B;
    position: relative;
    overflow: hidden;
}

#new-tile:hover, #existing-tile:hover {
    box-shadow: 0 1px 15px 4px #A9A9;
}

#new-tile {
    background: url('../images/Liam-Piano.jpg') no-repeat;
    background-position: bottom;
    background-size: 700px;
    height: 200px;
}

#existing-tile {
    background: url('../images/Recital-Image.jpeg') no-repeat;
    background-position: center;
    background-size: 550px;
    height: 200px;
}

#new-tile span, #existing-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    opacity: .8;
}
/*Footer*/
.panel-footer {
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    border-radius: 8px 8px 0 0;
    border-top: 0;
}

#testimonials p {
    font-style: italic;
}

#schedule p {
    line-height: 2;
}

/*Responsive Framework*/

/*Extra Large Devices*/
@media (min-width: 1200px) {

    .navbar-brand #header1 {
        font-size: 2em;
    }

    .navbar-brand #header2 {
        font-size: 1.5em;
    }

    #navbarSupportedContent {
        margin-right: 75px;
    }

    .container .jumbotron {
        margin-top: 40px;
    }

    #jumbotronTitle {
        font-size: 4em;
        padding: 20px;
    }

    #jumbotronItemHalf1, #jumbotronItemHalf2 {
        font-size: .75em;
        padding: 0 60px;
    }

    #new-tile, #existing-tile {
        margin-bottom: 20px;
    }

    #new-tile span, #existing-tile span {
        font-size: 1.6em;
        padding: 5px 0;
    }

    #scheduleTitle, #addressTitle, #testimonialsTitle {
        font-size: 1.6em;
    }

    #schedule p, #address p {
        font-size: 1.1em;
    }

    #testimonials p {
        font-size: .6em;
    }
}

/*Large Devices*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    #logo {
        background: url('../images/piano-medium.png') no-repeat;
        width: 150px;
        height: 150px;
    }

    .navbar-brand #header1 {
        font-size: 1.75em;
    }

    .navbar-brand #header2 {
        font-size: 1.25em;
        margin: 0;
    }

    #navbarSupportedContent {
        margin-right: 75px;
    }

    .nav-item {
        font-size: 1em;
    }

    .container .jumbotron {
        margin-top: 40px;
    }

    #jumbotronTitle {
        font-size: 3em;
        padding: 20px;
    }

    #jumbotronItemHalf1, #jumbotronItemHalf2 {
        font-size: .75em;
        padding: 0 10px;
    }

    #new-tile, #existing-tile {
        margin-bottom: 15px;
    }

    #new-tile span, #existing-tile span {
        font-size: 1.4em;
        padding: 8px 0;
    }

    #scheduleTitle, #addressTitle, #testimonialsTitle {
        font-size: 1.6em;
    }

    #schedule p, #address p {
        font-size: 1em;
    }

    #testimonials p {
        font-size: .55em;
    }
}

/*Medium Devices*/
@media (min-width: 768px) and (max-width: 991.98px) {

    #logo {
        background: url('../images/piano-medium.png') no-repeat;
        width: 150px;
        height: 150px;
    }

    .navbar-brand {
        width: 100%;
    }

    .navbar-brand #header1 {
        margin: 0 0 10px 10px;
        font-size: 1.5em;
    }

    .navbar-brand #header2 {
        margin: 0 0 0 10px;
        font-size: 1em;
    }

    .nav-item {
        font-size: 2em;
    }

    .dropdown-item {
        font-size: 1.5em;
    }

    .container .jumbotron {
        margin-top: 40px;
    }

    #jumbotronTitle {
        font-size: 2.5em;
        padding: 15px;
    }

    #jumbotronItemHalf1, #jumbotronItemHalf2 {
        font-size: .55em;
        padding: 0 10px;
    }

    #new-tile, #existing-tile {
        margin-bottom: 10px;
    }

    #new-tile span, #existing-tile span {
        font-size: 1.1em;
        padding: 10px 0;
    }

    #scheduleTitle, #addressTitle, #testimonialsTitle {
        font-size: 1.3em;
    }

    #schedule p, #address p {
        font-size: 1em;
    }

    #testimonials p {
        font-size: .5em;
    }
}

/*Small Devices*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .navbar-brand #header1 {
        margin: 0;
        font-size: 1.5em;
    }

    .navbar-brand #header2 {
        margin: 10px 0 0 10px;
        font-size: 1em;
    }

    .container .jumbotron {
        margin-top: 40px;
    }

    #jumbotronTitle {
        font-size: 2em;
        padding: 15px;
    }

    #jumbotronItemHalf1, #jumbotronItemHalf2 {
        font-size: .4em;
        padding: 0 5px;
    }

    #new-tile, #existing-tile {
        margin-bottom: 10px;
    }

    #new-tile span, #existing-tile span {
        font-size: .85em;
        padding: 10px 0;
    }

    #scheduleTitle, #addressTitle, #testimonialsTitle {
        font-size: 1.3em;
    }

    #schedule p, #address p {
        font-size: 1em;
    }

    #testimonials p {
        font-size: .45em;
    }
}

/*Extra Small Devices*/
@media (max-width: 575.98px) {

    .navbar-brand #header1 {
        margin: 0;
        font-size: 10vw;
    }

    .navbar-brand #header2 {
        margin: 10px 0 0 10px;
        font-size: 3.5vw;
    }

    .container .jumbotron {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #jumbotronTitle {
        font-size: 5vw;
        padding: 3vw;
    }

    #jumbotronItemHalf1, #jumbotronItemHalf2 {
        font-size: 1vw;
        padding: 0 1vw;
    }

    #new-tile, #existing-tile {
        margin-bottom: 2px;
        width: 350px;
    }

    #new-tile span, #existing-tile span {
        font-size: 1.3em;
        padding: 8px 0;
    }

    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }

    .panel-footer section:nth-child(3) {
        margin-bottom: 0;
    }

    #scheduleTitle, #addressTitle, #testimonialsTitle {
        font-size: 1.6em;
    }

    #schedule p, #address p {
        font-size: 1em;
    }

    #testimonials p {
        font-size: .5em;
    }
}

/*Extremely Small Devices*/
@media (max-width: 400px) {
    .navbar-brand #header1 {
        font-size: 8vw;
    }

    .navbar-brand a {
        font-size: 5vw;
    }

    #new-tile, #existing-tile {
        width: 280px;
        margin: 0 auto 15px;
    }

    #new-tile span, #existing-tile span {
        font-size: .75em;
        padding: 8px 0;
    }
}